.list-group{
    background-color: lightgray;
    margin-left: 0px;
}

.list-group-item {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    background-color: lightgray;
    border-bottom: #dfe4e6 1px solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}
.card
{
    background-color: lightgray;
}
input{
    top:25%;
}