.backgroundImage {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
     
 }
 
 .backgroundImage::after{
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
     position: absolute;
     content: "";
     background: url('../../assets/images/010.jpeg');
     background-repeat: no-repeat;
     background-size: cover; 
     background-position: center;
 }
 h5 {
    color: white;
    font-size: 20px;
}
.backgroundImage .view {
    width: 300px;
    height: 150px;
    top: 250px;
    margin: auto;
    padding: 10px;
    background-color: #384c92;   
}
.backgroundImage table{
    top: 100px;
    margin: auto;
}

h1 {
    color: black;
    font-size: 15px;
}
.view{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
}
.btn-primary.round{
    border-radius: 50%;
    background-color: #384c92;   
}
.backgroundImage p {
    margin-top: 250px;
    margin-left: 185px;
}
.backgroundImage .card-body{
    margin: auto;
    width: 900px;
    /* height: 250px; */
    display: inherit;
}

.btn.btn-success{
    background-color: #718296;
    border-color: #718296;
}
li{
    list-style: none;
}