<div class="backgroundImage">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="view">
            <h5>Zeitreihenansicht wählen <i class="fas fa-chart-bar" style="float: right;"> </i></h5>  
            <div>
              <br>
            </div>
            Die verfügbaren Messstationen werden in einer Tabelle angezeigt, 
            per Mausklick auf eine Kategorie können Sie die Daten weiter filtern 
            und sich die entsprechenden Ganglinien anzeigen lassen.
            <div>
              <br>
            </div>
            <a class="btn btn-success" role="button" routerLink="/selection-category">Zeitreihe wählen und anzeigen</a>
          </div>
        </td>
        <td>
          <div class="view">
            <h5>Kartenansicht erstellen <i class="far fa-map" style="float: right;"> </i></h5>   
            <div>
              <br>
            </div>
            Die verfügbaren Daten werden in einer Tabelle angezeigt 
            und können über verschiedene Parameter gefiltert werden. 
            Die Ergebnislayer werden einer Kartenansicht hinzugefügt.
            <div>
              <br>
            </div>
             <div>
              <br>
            </div>
            <a class="btn btn-success" role="button" routerLink="/map-view">Layer auswählen und Karte erstellen</a>
          </div>
        </td>
        <td>
          <div class="view">
            <h5>Profile  <i class="fas fa-chart-area" style="float: right;"> </i></h5>   
            <div>
              <br>
            </div>
            Die verfügbaren Daten aus der Limnologie lassen sich hierüber als Tabelle oder 
            in Form von Profil- und Isoplethendarstellungen anzeigen und abrufen.
            <div>
              <br>
            </div>
            <div>
              <br>
            </div>
            <a class="btn btn-success" role="button" routerLink="/profiles">Profile auswählen und darstellen</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="view">
            <h5>ChangeDetection    <i class="fas fa-history" style="float: right;"> </i> </h5> 
            <div>
              <br>
            </div>           
            Innerhalb dieses Bereiches lassen sich Satellitendaten und -auswertungen 
            verschiedener Zeitpunkte vergleichen.
            Es stehen zwei verschiedene Ansichten zum Vergleich von max. 2 Satellitenszenen zur Verfügung.  
         
            <a class="btn btn-success" role="button" routerLink="/change-detection">Layer zeitlich vergleichen</a>
          </div>
        </td>
        <td>
          <div class="view">
            <h5>Berichte  <i class="fas fa-file-medical-alt" style="float: right;"> </i></h5>  
            <div>
              <br>
            </div>           
            Der Bericht für die gewünschte Talsperre zu "Stauinhalten im Vergleich"
            wird für einen Zeitraum von zwei Jahren im Verhältnis zum aktuellen 
            Datum mit Vorraus- und Rücksicht erstellt.  
            <div>
              <br>
            </div>
            <a class="btn btn-success" role="button" routerLink="/reports">Berichte wählen</a>
          </div>
        </td>
        <td>
          <div class="view" style="margin: auto;">
            <h5>Wettervorschau  <i class="fas fa-cloud" style="float: right;"> </i></h5>   
            <div>
              <br>
            </div>           
            Die Wettervorschau bietet die Vorhersage für Wind, Regenmengen und Wolkenbedeckung.
            Alle Angaben basieren auf dem ECMWF 9km (European Centre for Medium-range Weather Forecasts) Vorhersage Modell.
            Regenmengen beziehen sich auf die nächsten 3 Tage.
 
            <a class="btn btn-success" role="button" routerLink="/weather-forecast">Wettervorhersage ansehen</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <button class="btn btn-primary round" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false"
      aria-controls="collapseInfo">
      Info
    </button>
  </p>
  <div class="collapse" id="collapseInfo">
    <div class="card card-body">
      <h1>
        <b>WaCoDiS</b>
      </h1>
      <ul>
        <li>
          <img style="margin-top:10px" src="assets/images/mFUND_Logo_CMYK.jpg" alt="mFUND" width="90" height="48">
          <img style="margin-top:10px" src="assets/images/BMVI_2017_DTP_CMYK_de.jpg" alt="BMVI" width="160" height="90">
        </li>
        <li>
          Wasserwirtschaftliche Copernicus Dienste zur Bestimmung von Stoffeinträgen in Gewässer und Talsperren: Im Rahmen des Forschungsvorhabens
          werden Satellitenfernerkungsungsdaten des europäischen Copernicus Programms mit einem In-situ Sensornetzwerk des
          Wupperverbanddes zur Gewässerüberwachung kombiniert. Mehr Informationen zum Projekt finden Sie
          <a style="display:contents" href="http://wacodis.fbg-hsbo.de/"> hier.</a>
        </li>
      </ul>
    </div>
  </div>
</div>