
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="wv-h1 jumbo">WaCoDiS</h1>
                </div>
                <div class="col-md-7">                  
                </div>
            </div>
            <div  class="row">
                <div class="col-md-5">
                    <a class="btn btn-start" routerLink="/selection-map" role="button">Zeitreihe auswählen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="wv-h1">Die Plattform zur Datenanalyse </h1>
                <p> Wasserwirtschaftliche Copernicus Dienste zur Bestimmung von Stoffeinträgen in Gewässer und Talsperren: Im
                    Rahmen des Forschungsvorhabens werden Satellitenfernerkungsungsdaten des europäischen Copernicus Programms
                    mit einem In-situ Sensornetzwerk des Wupperverbands zur Gewässerüberwachung kombiniert. Mehr Informationen
                    zum Projekt finden Sie
                    <a style="display:contents" href="http://wacodis.fbg-hsbo.de/"> hier.</a>
                </p>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x225">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg>
            </div>
            <div class="col-md-7">
                <h2 class="wv-h2">Zeitreihenansicht </h2>
                <p class="big">Die verfügbaren Messstationen werden in einer Tabelle angezeigt, per Mausklick auf eine Kategorie können
                    Sie die Daten weiter filtern und sich die entsprechenden Ganglinien anzeigen lassen.
                </p>
                <p>
                    <a class="btn btn-wv" routerLink="/selection-map" role="button">View details »</a>
                </p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="wv-h2">Kartenansicht</h2>
                <p class="big">Die verfügbaren Daten werden in einer Tabelle angezeigt und können über verschiedene Parameter gefiltert
                    werden. Die Ergebnislayer werden einer Kartenansicht hinzugefügt.
                </p>
                <p>
                    <a class="btn btn-wv nav-link" routerLink="/map-view" role="button">View details »</a>
                </p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x225">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg> -->
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" src="assets/images/Kartenansicht.png">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x225">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg>
            </div>
            <div class="col-md-7">
                <h2 class="wv-h2">Profilansicht</h2>
                <p class="big"> Die verfügbaren Daten aus der Limnologie lassen sich hierüber als Tabelle oder in Form von Profil- und Isoplethendarstellungen
                    anzeigen und abrufen.
                </p>
                <p>
                    <a class="btn btn-wv nav-link" routerLink="/profiles" role="button">View details »</a>
                </p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="wv-h2">Change Detection</h2>
                <p class="big">Innerhalb dieses Bereiches lassen sich Satellitendaten und -auswertungen verschiedener Zeitpunkte vergleichen.
                    Es stehen zwei verschiedene Ansichten zum Vergleich von max. 2 Satellitenszenen zur Verfügung.
                </p>
                <p>
                    <a class="btn btn-wv nav-link" routerLink="/change-detection" role="button">View details »</a>
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x225">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x225">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg>
            </div>
            <div class="col-md-7">
                <h2 class="wv-h2">Berichte</h2>
                <p class="big">Der Bericht für die gewünschte Talsperre zu "Stauinhalten im Vergleich" wird für einen Zeitraum von zwei
                    Jahren im Verhältnis zum aktuellen Datum mit Vorraus- und Rücksicht erstellt.
                </p>
                <p>
                    <a class="btn btn-wv nav-link" routerLink="/reports" role="button">View details »</a>
                </p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="wv-h2">Wettervorschau</h2>
                <p class="big">Die Wettervorschau bietet die Vorhersage für Wind, Regenmengen und Wolkenbedeckung. Alle Angaben basieren
                    auf dem ECMWF 9km (European Centre for Medium-range Weather Forecasts) Vorhersage Modell. Regenmengen
                    beziehen sich auf die nächsten 3 Tage.
                </p>
                <p>
                    <a class="btn btn-wv nav-link" routerLink="/weather-forecast" role="button">View details »</a>
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="350" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 450x350">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="45%" y="50%" fill="#aaa" dy=".3em">450x350</text>
                </svg>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-6">
                <img style="margin-top:10px" src="assets/images/mFUND_Logo_CMYK.jpg" alt="mFUND" width="160" height="90">
            </div>
            <div class="col-md-6">
                <img style="margin-top:10px" src="assets/images/BMVI_2017_DTP_CMYK_de.jpg" alt="BMVI" width="160" height="90">
            </div>
        </div>
    </div>
    <div id="cookie-bar" class="fixed bottom" style="z-index: 99999;width: 100%">
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <iframe frameborder="no" height="250px" src="https://piwik.wupperverband.de/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>
    </div>
    
</main>
<hr>
<footer class="container" style="float: left;">
    <p >© Wupperverband</p>
</footer>