
p.small{
    font-style: normal;
    color: #2C333F; 
    font-size: 11px;
}
p.mid{
    font-style: normal;
    color: #2C333F; 
    font-size: 13px;
}
p.mid.bold{
    font-weight: bold;
    color: #2C333F; 
    font-size: 13px;
}
p.big{
    font-style: normal;
    color: #2C333F; 
    font-size: 15px;
}
p.big.bold{
    font-weight: bold;
    color: #2C333F; 
    font-size: 15px;
}
.btn-wv{
    height: 38px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #718296;
    border-radius: 3px;
    padding: 4px 8px;
    width: 300px
}

.wv .nav-link{
    font-style: normal;
    color: #2C333F; 
    font-size: 15px;
}
.wv.active{
   background-color: #718296;
}
.active .nav-link{
    color: #fff;
}
.wv-submit-btn{
    color: #fff;
    background-color: #718296;
}

    .wv-h1{
        font-size: 42px;
        color: #2C4869;
    }
    .wv-h2{
        font-size: 32px;
        color: #2C333F; 
    }
    .wv-h3{
        font-size: 24px;
        color: #2C4869;
    }

/*
* small screens
*/
 /* @include media-breakpoint-up(md) {   */
    .wv-h1{
        font-size: 34px;
        color: #2C4869;
    }
    .wv-h2{
        font-size: 22px;
        color: #2C333F; 
    } 
 /* }  */
.jumbotron{
    height: 450px;
    background:url('../../assets/images/010.jpeg'); 
    background-size: cover;
    border-radius: 0px
}
.row.featurette{
    margin: 30px 0 !important;
}
.jumbo{
    color: #fff;
}


#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto;
}
#cookie-bar.fixed {
    position: fixed;
    top: 0;
    right: 0;
}
#cookie-bar {
    background: rgba(255,255,255,0.7);
    height: auto;
    line-height: 24px;
    color: #1a1a1a;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
}
iframe{
    width: 100%;
}

.btn-start{
    height: 38px;
    line-height: 30px;
    text-align: center;
    color: #718296;
    background-color: #fff;
    border-radius: 3px;
    padding: 4px 8px;
    width: 300px
}