.facet{
    overflow: hidden;
    /* max-height: 250px; */
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
    padding: 10px;
}
.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray, 0.5;
   
}
.facet-header-label{
    color: white;
}

.facets{
    display: flex;
    flex-direction: column;
    height: 100%;
}