<div class="phenomena">
  <div class="expand-button" [ngClass]="{'active': isActive}" (click)="change()">
    <span class="icon">
      <i class="fas fa-angle-right" [ngClass]="{'fa-angle-right': isActive, 'fa-angle-left': !isActive}"></i>
    </span>
  </div>

  <div class="phenomenonSelector" [ngClass]="{'active': isActive}">

    <div *ngFor="let layer of baselayers; let i = index">
      <div style="margin: 5px; padding: 5px; border: 1px solid black;">
        <div>
          <wv-extended-ol-layer-title [layer]="layer"></wv-extended-ol-layer-title>
          <span class="fa fa-times" (click)="removeLayer(i)"></span>
        </div>
        <div>
          <n52-ol-layer-abstract [layer]="layer"></n52-ol-layer-abstract>
        </div>
        <div>
          <span class="fa" [ngClass]="{'fa-eye-slash': !layer?.getVisible(), 'fa-eye': layer?.getVisible()}" (click)="toggleVisibility(layer)"></span>
        </div>
        <div>
          <span>Opacity:</span>
          <n52-ol-layer-opacitiy-slider [layer]="layer"></n52-ol-layer-opacitiy-slider>
        </div>
        <div>
          <n52-ol-layer-time-selector [layer]="layer"></n52-ol-layer-time-selector>
        </div>
        <div>
          <n52-ol-layer-animate-time [layer]="layer"></n52-ol-layer-animate-time>
        </div>
        <div>
          <n52-ol-layer-zoom-extent [layer]="layer" [mapId]="mapId"></n52-ol-layer-zoom-extent>
        </div>
        <div>
          <n52-ol-layer-legend-url [layer]="layer" (legendUrl)="getLegendUrl($event)">
          </n52-ol-layer-legend-url>
        </div>

      </div>
    </div>
  </div>
</div>