// body {
//     background-color: grey;
// }

.tabs {
    right: 0px;
    left: 0;
    top: 48px;
    bottom: 0;
}

.tabs > ul {
    margin-bottom: 20px;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    width: 523px;
    margin-top: -5rem;
    
}

.tabs > ul:after {
    content:'';
    display:block;
    clear:both;
}

.tabs > ul  li {
    margin-right: 5px;
    float:left;
    list-style:none;
    margin-bottom: -1px;
    border-right: solid 1px #dfe4e6;
    margin-top: 3.25rem;
}

.tabs > ul  a {
    padding:8px 20px;
    display:inline-block;
    color: #fff;
    text-decoration: none !important;
    cursor: pointer;
}

.tabs > ul li.active a {
    color: #555;
}

.tabs > ul > li.active  {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;

    border-bottom-color: transparent;
}