<div class="backgroundImage">
  <div class="selection-view ">

    <div class=" viewSelect">
      <table class="table">
        <thead>
          <tr>
            <th class='layerRow'>Wählen Sie den linken Layer</th>
            <th class='layerRow'>Wählen Sie den rechten Layer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button id="leftLayer" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectLeftLayer}}</button>
              <div class="dropdown-menu" aria-labelledby="leftLayer">
                <button class="dropdown-item" *ngFor="let layers of comparisonOptions; let i = index" (click)="checkLeftLayer(layers, i)">{{layers}}</button>
              </div>
            </td>
            <td>
              <button id="rightLayer" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectRightLayer}}</button>
              <div class="dropdown-menu" aria-labelledby="rightLayer">
                <button class="dropdown-item" *ngFor="let rightLayers of comparisonOptions; let i = index" (click)="checkRightLayer(rightLayers, i)">{{rightLayers}}</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button id="leftTime" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{defaultLDate | date: 'mediumDate'}}</button>
              <div class="dropdown-menu" aria-labelledby="leftTime">
                <button class="dropdown-item" *ngFor="let lDate of selLeftDate; let i = index" (click)="checkLeftDate(lDate, i)">{{lDate | date: 'mediumDate'}}</button>

              </div>
            </td>
            <td>
              <button id="rightTime" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{defaultRDate| date: 'mediumDate'}}</button>
              <div class="dropdown-menu" aria-labelledby="rightTime">
                <button class="dropdown-item" *ngFor="let rDate of selRightDate; let i = index" (click)="checkRightDate(rDate, i)">{{rDate | date: 'mediumDate'}}</button>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- </table> -->

        <!-- <table class="table view"> -->

        <thead>
          <tr>
            <th>Geteilte Ansicht</th>
            <th>Synchronisierte Ansicht</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <img src='assets/images/SliderPic.JPG'>
            </td>
            <td>
              <img src='assets/images/SyncedPic.JPG'>
            </td>
          </tr>
          <tr>
            <td>
              <form name="viewForm" id="selectForm">
                <select id="selectedForm">
                  <option id="split" value="split">Geteilte Ansicht
                  </option>
                  <option id="synced" value="synced">Synchronisierte Ansicht
                  </option>
                </select>
              </form>
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <div class="footer">
                <button type="button" class="btn btn-default" style="margin-right: auto" (click)="resetSelection()">Reset</button>
                <a class="btn btn-default" role="button" (click)="moveToComparisonView('/change-detection')">Auswahl bestätigen</a>
              </div>
            </td>
            <td>

            </td>
          </tr>
        </tbody>

      </table>
    </div>


  </div>
</div>