<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-xl-8 col-md-6 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Fernerkundungsprodukt: Vitalitätsänderung
        </div>
        <div class="card-body">
          Vitalitätsänderungen werden über die Differenz von Normalized Difference Vegetation Index-Werten
          einer vorliegenden Sentinel-2 Szene T1 zu einem Referenzzeitpunkt T0, z.B. aus dem jeweiligen Vorjahr
          (T0 = T1 - 365 Tage) berechnet.
          Negative Indexdifferenzwerte entsprechen Vitalitätsverlusten, positive Werte entsprechen Vitalitätszugewinnen.
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Nächster Generierungsdurchlauf:
        </div>
        <div class="card-body">
          12.10.2020
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Aktuell verfügbare Anzahl an Szenen
        </div>
        <div class="card-body">
          1
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 740px">
    <div class="col-xl-4 col-md-4 mb-2" style="height: 100%;">
      <div class="row" style="height: 50%;">
        <div class="col-xl-12 mb-2">
          <div class="card border-left-primary shadow" style="height: 100%;">
            <div class="card-header wv-bold-header">
              Monatliche Temperaturabweichungen vom langjährigen Mittel
            </div>
            <div class="card-body ">
              <!-- <div style="width: 100%;" *ngIf="showDiagram">
                  <wv-copernicus-layer-chart [drawChart]='true' [selectedTimeIndex]='selectedTime' [chartId]="'PEchart'"
                    [bounds]='polyBounds' [service]='service' [categoryValues]='categoryVal' [colors]='colors'>
                  </wv-copernicus-layer-chart>
                </div> -->
                <div *ngIf="showDiagram; else loadingSpinner">
                  <wv-mixed-data-chart [barChartId]="'mixedTemp'" [lineData]="additionalDataTemp" [drawChart]='true' ></wv-mixed-data-chart>
                </div>
             <ng-template #loadingSpinner>
              <div class="spinner-border text-dark" role="status">
                <i class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
            </div>
             </ng-template >
              <!-- <n52-extended-data-d3-timeseries-graph  [additionalData]="additionalDataTemp"
              [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptionsMultiple" [timeInterval]="timespan"
              [presenterOptions]="diagramOptionsD3" (onTimespanChanged)="timespanChanged($event)"
               #diagram></n52-extended-data-d3-timeseries-graph> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="height: 50%;">
        <div class="col-xl-12 mb-2">
          <div class="card border-left-primary shadow " style="height: 100%;">
            <div class="card-header wv-bold-header">
             Monatliche Niederschlagsbweichungen vom langjährigen Mittel
            </div>
            <div class="card-body ">
              <div *ngIf="showDiagramR; else loadingSpinnerR">
                <wv-mixed-data-chart [barChartId]="'mixedRain'" [lineData]="additionalDataRain" [drawChart]='true' ></wv-mixed-data-chart>
              </div>
              <ng-template #loadingSpinnerR>
                <div class="spinner-border text-dark" role="status">
                  <i class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
              </div>
               </ng-template >
              <!-- <n52-extended-data-d3-timeseries-graph  [additionalData]="additionalDataRain"
              [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptionsMultiple2" [timeInterval]="timespan"
              [presenterOptions]="diagramOptionsD3" (onTimespanChanged)="timespanChanged($event)"
               #diagram></n52-extended-data-d3-timeseries-graph> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-6 col-md-4">
      <div class='row' style="height: 55%;">
        <div class="col-xl-12 col-md-12 mb-2">
          <div id="map">
            <div class="map-wrapper" id='map-wrapper'>
              <div id="vitality-map" class="map-viewer"></div>
            </div>

          </div>
        </div>

      </div>
      <div class="row" style="top: 0rem;">
        <div class="col-xl-12 col-md-12 mb-2">
          <div class="card border-left-primary shadow ">
            <div class="card-body" style="padding: 0rem;">
              <div style="width: 100%;">
                <wv-layer-card style="height: 50%;" id="layerLegendCard" [baselayers]="baselayers" [mapId]="mapId"
                  (timeIndex)="setSelectedTime($event)" (curTimeIndex)="setSelectedCurrentTimeLeft($event)">
                </wv-layer-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="top: 0rem;">
        <div class="col-xl-12 col-md-12 mb-2">
          <div class="card border-left-primary shadow ">
            <div class="card-header wv-bold-header">
              Prozentualer Zuwachs/Verlust des Waldes an den Talsperren
             </div>
            <div class="card-body" style="padding: 0rem;">
              Für die Auswahl der entsprechenden Talsperre im Diagramm klicken.
              <div style="width: 100%;">
                <wv-vitality-bar-chart [barChartIds]="['percentBar']" [service]="'test'" (selTS)="resetMapView($event)"></wv-vitality-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2">
      <div class="card border-left-primary shadow ">
        <div class="card-header wv-bold-header">
         Legende
        </div>
        <div class="card-body h-100" style="padding: 0px;">
              <div class="wv-legend" style="width: 100%;">
                <wv-layer-legend-card [layer]="baselayers[0]" [id]="1"></wv-layer-legend-card>
              </div>
            </div>
            <div class="card-header wv-bold-header">
              Zuwachs
             </div>
             <div class="card-body h-100" style="padding: 0px;">
                   <div class="wv-legend" style="width: 100%;">
                   <wv-vitality-pie-chart [bounds]="mapBounds" 
                   [colors]="['rgb(145,250,143)','rgb(67,250,67)','rgb(0,180,0)']"
                    [chartId]="'growthChart'"></wv-vitality-pie-chart>
                   </div>
                 </div>
                 <div class="card-header wv-bold-header">
                  Verlust
                 </div>
                 <div class="card-body h-100" style="padding: 0px;">
                       <div class="wv-legend" style="width: 100%;">
                        <wv-vitality-pie-chart [bounds]="mapBounds" 
                        [colors]="['rgb(250,204,204)','rgb(250,81,81)','rgb(130,50,50)']" 
                        [chartId]="'lossChart'"></wv-vitality-pie-chart>
                       </div>
                     </div>
          <!-- <div style="width: 100%;" *ngIf="showDiagram; else indBarChart">
              <wv-copernicus-bar-chart-card [selIndices]="[selectedTime]"
                [barChartIds]="['perChange','absChange']" [bounds]='polyBounds' [service]='service'
                [categoryValues]='categoryVal' [colors]='colors'></wv-copernicus-bar-chart-card>
            </div>
            <ng-template #indBarChart>
            <div style="width: 100%;">
              <wv-copernicus-bar-chart-card [selIndices]="[selectedTime]"
                [barChartIds]="['perChange','absChange']" [bounds]='mapBounds' [service]='service'
                [categoryValues]='categoryVal' [colors]='colors'></wv-copernicus-bar-chart-card>
            </div>
          </ng-template> -->
        </div>
      </div>
    </div>
  </div>
