<div class="selectionsMenu">
    <button class="btn btn-default dropdown-toggle entry provider" type="button" data-toggle="modal" data-target="#serviceModal">
        <i class="fas fa-broadcast-tower" style="padding: 3px"></i>Services: {{label}}
    </button>
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceProviderLabel" aria-hidden="true"
        #modal>
        <div class="modal-dialog" role="navigation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceProviderLabel">Datenanbieter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <wv-extended-service-selector [datasetApiList]="datasetApis" [selectedService]="selectedService" [filter]="providerFilter"
                        [supportStations]="true" [showUnresolvableServices]="true" (onServiceSelected)="switchProvider($event)"
                        data-dismiss="modal"></wv-extended-service-selector>
                </div>
            </div>
        </div>
    </div>
</div>