/* .leaflet-sbs-range { */
    /* -webkit-appearance: none; */
    /* display: inline-block!important;
    vertical-align: middle;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.25);
    min-width: 100px;
    cursor: pointer;
    pointer-events: none;
    z-index: 999;
} */
