.nav-item .dropdown a{
    padding: 10px;
}

.modal-dialog .modal-content .modal-header .modal-title{
    text-align: center;
    
}

.phenomenon {
    margin: 5px;
    width: 20%;
    height: 50%;
    padding: 5px;
}

.nav .selection {
    margin-right: 5px;
    margin-left: 5px;
}

.selection a {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
/* .nav .selection :active{
    background-color: lightgrey;
} */
.phenomenon.collapse.show,
.phenomenon.collapse.show + .col {
    transition: .18s linear;
    left: 0;
}

.phenomenon.collapse ,
.phenomenon.collapsing,
.phenomenon.collapsing + .col {
    transition: .18s linear;
    z-index: 1050;
    left: -25%;
    height: auto !important;
}