<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item dropdown">
      <a role="button" class="btn btn-secondary dropdown-toggle" data-toggle="modal" data-target="#serviceProviderModal">
        Services: {{label}}
      </a>
      <div class="modal fade" id="serviceProviderModal" tabindex="-1" role="dialog" aria-labelledby="serviceProviderLabel" aria-hidden="true">
        <div class="modal-dialog" role="navigation">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="serviceProviderLabel">Datenanbieter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <wv-service-selector (onProviderSelected)="setProviderUrl($event)"></wv-service-selector>
            </div>
          </div>
        </div>
      </div>
    </li>
    <div class="nav selection justify-content-center">
      <li class="nav-item" routerLinkActive="active">
        <a role="button" class="btn btn-secondary nav-link" routerLink="/selection-map" isActive="true">Karte</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a role="button" class="btn btn-secondary nav-link" routerLink="/select-category">Kategorie</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a role="button" class="btn btn-secondary nav-link" routerLink="/select-station">Station</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a role="button" class="btn btn-secondary nav-link" routerLink="/select-phenomenon">Phänomen</a>
      </li>
    </div>
  </ul>
</div>

<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col">
      <div class="row" style="width: 100%; padding: 5px; position: relative; height: 850px;">
        <div class="col-12" style="width: 100%; position: absolute; z-index: 800;">
          <wv-phenomenon-selector [(apiUrl)]="providerUrl" (selectedPhenomenon)="onSelectPhenomenon($event)" id="phenomenon" (stationFilter)="removeStationFilter()"></wv-phenomenon-selector>
        </div>
        <div class="col-12" style="height: 100%; width: 100%;">
          <!-- <n52-geometry-map-viewer [mapOptions]="mapOptions" [fitBounds]="fitBounds" [layerControlOptions]="layerControlOptions" [zoomControlOptions]="zoomControlOptions"
        [overlayMaps]="overlayMaps" [baseMaps]="baseMaps" mapId="map"></n52-geometry-map-viewer> -->
          <n52-station-map-selector [mapId]="'map'" [serviceUrl]="providerUrl" [filter]="stationFilter" [zoomControlOptions]="zoomControlOptions"
            [mapOptions]="mapOptions" [fitBounds]="fitBounds" [avoidZoomToSelection]="avoidZoomToSelection" [baseMaps]="baseMaps"
            [overlayMaps]="overlayMaps" [layerControlOptions]="layerControlOptions" (onSelected)="onStationSelected($event)"
            [cluster]="cluster" [statusIntervals]="statusIntervals" (onContentLoading)="loadingStations = $event"></n52-station-map-selector>
        </div>
      </div>
    </div>
  </div>
</div>