<div class="row">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item dropdown">
        <!-- <a class="btn btn-secondary dropdown-toggle" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <wv-service-selector class="dropdown-item" href="#"></wv-service-selector>
          <a class="dropdown-item" href="#">Test</a>
          <a class="dropdown-item" href="#">noch ein Test</a>
        </div> -->

        <a role="button" class="btn btn-secondary dropdown-toggle" data-toggle="modal" data-target="#serviceProviderModal">
          Services
        </a>
        <div class="modal fade" id="serviceProviderModal" tabindex="-1" role="dialog" aria-labelledby="serviceProviderLabel" aria-hidden="true">
          <div class="modal-dialog" role="navigation">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="serviceProviderLabel">Vorhandene Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <wv-service-selector (onProviderSelected)="setProviderUrl($event)"></wv-service-selector>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-6" style="display: flex; flex-direction: row;">
    <div style="width: 100%; padding: 5px;">
      <div style="height: 800px;">
        <!-- <n52-geometry-map-viewer [mapOptions]="mapOptions" [fitBounds]="fitBounds" [layerControlOptions]="layerControlOptions" [zoomControlOptions]="zoomControlOptions"
        [overlayMaps]="overlayMaps" [baseMaps]="baseMaps" mapId="map"></n52-geometry-map-viewer> -->
        <n52-station-map-selector [mapId]="'map'" [serviceUrl]="providerUrl" [filter]="stationFilter" [zoomControlOptions]="zoomControlOptions"
          [mapOptions]="mapOptions" [fitBounds]="fitBounds" [avoidZoomToSelection]="avoidZoomToSelection" [baseMaps]="baseMaps"
          [overlayMaps]="overlayMaps" [layerControlOptions]="layerControlOptions" (onSelected)="onStationSelected($event)"
          [cluster]="cluster" [statusIntervals]="statusIntervals" (onContentLoading)="loadingStations = $event"></n52-station-map-selector>
      </div>
    </div>
    <!-- <div>
      <wv-phenomenon-selector [apiUrl]="providerUrl" [selectedPhenomenon]="onSelectPhenomenon($event)"></wv-phenomenon-selector>
    </div> -->
  </div>
  <div class="col-4">
  <button class="btn btn-primary icon-arrow-right" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false"
  aria-controls="multiCollapseExample2">Phänomen</button>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
          <n52-service-filter-selector [serviceUrl]="providerUrl" endpoint="phenomenon" (onItemSelected)="onSelectPhenomenon($event)"></n52-service-filter-selector>
      </div>
    </div>
  </div>
</div>
</div>
