.nav-item .dropdown a{
    padding: 10px;
}

.modal-dialog .modal-content .modal-header .modal-title{
    text-align: center;
    
}

.nav .selection {
    margin-right: 5px;
    margin-left: 5px;
}

.selection a {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
