
:host {
    // overflow: auto;

    .entry {
        // height: 52px;
        color: white;
        padding: 3px 5px;
        display: flex;
        flex-direction: row;


        +.entry {
            border-top: solid 1px rgba(223, 228, 230, 1.0);
            // overflow: auto;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(139, 156, 174, 1.0);
        }

        &.selected {
            background-color: rgba(44, 72, 105, 1.0);
        }

        .label {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
        }

        .counter {
            background-color: white;
            color: rgba(44, 51, 63, 1.0);
            border-radius: 3px;
            min-width: 26px;
            height: 20px;
            margin-right: 10px;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            margin-top: 2px;
        }
    }
}