<div style="height: 900px;">
    <div id="map" style="width: 82%; height: 90%; padding: 5px; position:absolute;">

        <n52-station-map-selector [mapId]="mapId" [serviceUrl]="providerUrl" [filter]="stationFilter" [zoomControlOptions]="zoomControlOptions"
        [mapOptions]="mapOptions" [fitBounds]="fitBounds" [avoidZoomToSelection]="avoidZoomToSelection" [baseMaps]="baseMaps"
         [layerControlOptions]="layerControlOptions" (onSelected)="onStationSelected($event)"
        [cluster]="cluster" [statusIntervals]="statusIntervals" (onContentLoading)="loadingStations = $event"></n52-station-map-selector>
    </div>
    <div style="width: 20%;padding: 5px;">
        <wv-layer-tree style="height: 20%;" id="soilTempTree" [baselayers]="baselayers" [mapId]="mapId"></wv-layer-tree> 
    </div>
    <div   id="tempChart" style="height: 80%"></div>  
</div>
