<div class="selectionsMenu">
    <button class="btn btn-default dropdown-toggle entry provider" type="button" data-toggle="modal" data-target="#serviceModal">
        <i class="fas fa-broadcast-tower" style="padding: 3px"></i>Services: {{label}}
    </button>
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceProviderLabel" aria-hidden="true"
        #modal>
        <div class="modal-dialog" role="navigation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceProviderLabel">Datenanbieter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <wv-service-selector (onProviderSelected)="emitProviderUrl($event)"></wv-service-selector> -->
                    <wv-extended-service-selector [datasetApiList]="datasetApis" [selectedService]="selectedService" [filter]="providerFilter"
                        [supportStations]="true" [showUnresolvableServices]="true" (onServiceSelected)="switchProvider($event)"
                        data-dismiss="modal"></wv-extended-service-selector>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="center"> -->
        <!-- <div class="entry" [ngClass]="{'active': checkSelection('/selection-map')}" (click)="navigateTo('/selection-map');">
            <i class="fas fa-map"></i>
            <span class="mid"> Karte</span>
        </div>
        <div class="entry" [ngClass]="{'active': checkSelection('/select-category')}" (click)="navigateTo('/select-category');">
            <i class="fas fa-tint"></i>
            <span class="mid"> Kategorie</span>
        </div>

        <div class="entry" [ngClass]="{'active': checkSelection('/select-station')}" (click)="navigateTo('/select-station');">
            <i class="fas fa-home"></i>
            <span class="mid"> Station</span>
        </div>

        <div class="entry" [ngClass]="{'active': checkSelection('/select-phenomenon')}">
            <i class="fas fa-ruler-vertical"></i>
            <span class="mid" routerLink='/select-phenomenon'> Phänomen</span>
        </div> -->
        <wv-tabs>

            <wv-tab title="Karte" picture="fas fa-map">
                <wv-map-view [selectedProvider] = "selectedService"></wv-map-view>
            </wv-tab>
            <wv-tab title="Kategorie" picture="fas fa-tint" >
                <wv-category-selector [selectedProvider] = "selectedService"></wv-category-selector>
            </wv-tab>
            <wv-tab title="Station" picture="fas fa-home">
                <wv-station-list-selector [selectedProvider] = "selectedService"></wv-station-list-selector>
                <!-- <wv-category-selector [endpoint]="title" [selectedProvider] = "selectedService"></wv-category-selector> -->
            </wv-tab>
            <wv-tab title="Phänomen" picture="fas fa-ruler-vertical" >
                <wv-phenomenon-list-selector [selectedProvider] = "selectedService"></wv-phenomenon-list-selector>
            </wv-tab>

        </wv-tabs>

    <!-- </div> -->
 </div>
