.btn.btn-default{
    background-color:  #718296;
    color: white;
    display: inline-block;
}
.selectionsMenu .entry.provider{
        border-right: solid 1px #dfe4e6;
        width: 350px;
        white-space: nowrap;
}
.selectionsMenu .entry.split{
    border-right: solid 1px #dfe4e6;
    width: 80px;
    white-space: nowrap;
}
h5{
    color: black;
    text-align: center;
}

.entry.active{
    background-color:  #2c4869;
}

.selectionsMenu{
    position: absolute;
    width: 100%;
    background-color: #718296;
    color: #fff;
}

.selectionsMenu .entry{
    height: 48px;
    line-height: 48px;
    width: 130px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.selectionsMenu .center,
.selectionsMenu .entry+.entry {
    border-left: solid 1px #dfe4e6;
}

.selectionsMenu .center {
    margin-left: auto;
    margin-right: auto;
    width: 523px;
    height: 48px;
    border-right: solid 1px #dfe4e6;
}

button{
    padding: 2px;
}

.mid{
    font-size: 13px;
    line-height: 18px;
}

.selectionsMenu .entry span {
    vertical-align: middle;
    
}
.selectionsMenu .entry:hover{
    background-color: #8b9cae;
}
.collapse.navbar-collapse.show {
    z-index: 801;
    position: absolute;
    background-color: #718296;
    border: none;
}
#selectionBar {
    padding: 0;
}

 /* .selectionsMenu .center 
.selectionsMenu .entry+.entry {
    border: none;
} */
.collapse.navbar-collapse.show .entry{
    border: none;
}
/* .navbar .center {
    border: none;
} */


.modal-body.layerSelect{
    color: black;
}

.layerRow{
width: 50%;
}

.modal-body.viewSelect{
    color: black;
}
.dropdown-item.active{
    background-color: darkblue;
}
