.backgroundImage {
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
    
}

.backgroundImage::after{
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    content: "";
    background: url('../../assets/images/010.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.backgroundImage .carousel {
    width: 800px;
    height: 880px;
    margin: auto;
    
}
.carousel-inner .carousel-item img
{
    margin: auto;
    padding-top: 60px;
    width: 40%;
}
h5 {
    color: black;
    font-size: 20px;
}
.carousel-control-prev .carousel-control-prev-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next .carousel-control-next-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 25%;
    background-color: #050555;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #b5b4f5;
}

.carousel-caption a {
    color: black;
    margin: auto;
}

.backgroundImage .card {
    width: 350px;
    height: 150px;
    top: 50px;
    margin: auto;
    padding: 10px;
}
.backgroundImage table{
    top: 100px;
    margin: auto;
}