<div *ngIf="loadingCount > 0">
    <span>Requesting {{loadingCount}} providers...</span>
</div>
<div class="service-list">

    <div class="service-item" *ngFor="let service of services; let i = index">
        <div class="form-check" (click)="selectService(service)" [ngClass]="{'selected': isSelected(service)}">

            <label class="form-check-label" [attr.for]="i">
                <div>{{service.label}}</div>
                <div class="small">{{service.type}}, {{service.version}}
                </div>
                <div class="small" *ngIf="service.serviceUrl"> {{service.serviceUrl}}</div>
                <div class="small">
                    <span *ngIf="service.quantities.stations !== undefined">{{'stations' | translate}}: {{service.quantities.stations}} </span>
                    <span *ngIf="service.quantities.platforms !== undefined">{{'platforms' | translate}}: {{service.quantities.platforms}} </span>
                    <span *ngIf="service.quantities.timeseries !== undefined">{{'timeseries' | translate}}:{{service.quantities.timeseries}} </span>
                    <span *ngIf="service.quantities.datasets !== undefined">{{'datasets' | translate}}: {{service.quantities.datasets}} </span>
                    <span>{{'phenomena' | translate}}: {{service.quantities.phenomena}} </span>
                </div>
            </label>
            <div *ngIf="selectedService && selectedService.label == service.label">
                <input class="form-check-input" name="group100" type="radio" id="i" checked="checked">
            </div>
            <div *ngIf="!selectedService || selectedService.label != service.label">
                <input class="form-check-input" name="group100" type="radio" id="i" >
            </div>

        </div>
    </div>
    <div *ngFor="let item of unResolvableServices">
        <div style="color: red;">{{item.name}} is currently not reachable</div>
    </div>
</div>