<div class="datasetMenu">
    <div class="expand-button" [ngClass]="{'active': isActive}" (click)="change()">
        <span class="icon">
            <i class="fas fa-angle-right" [ngClass]="{'fa-angle-right': isActive, 'fa-angle-left': !isActive}"></i>
        </span>
    </div>

    <div class="selectedDataset" [ngClass]="{'active': isActive}">
        <div class="legendEntry" *ngFor="let id of datasetIdsMultiple">
            <wv-extended-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [datasetOptions]="datasetOptionsMultiple.get(id)"
                [highlight]="id === highlightId" [timeInterval]="timespan" (onSelectDataset)="selectDataset($event, id)" (onSelectDate)="changeDate($event)"
                (onDeleteDataset)="removeDataset(id)" (onEditOptions)="editOption($event)" (onUpdateOptions)="updateOptions($event,id)"
                (onShowGeometry)="showGeometry($event)"></wv-extended-timeseries-entry>
        </div>
    
        <div class="bottom">
            <button class="btn btn-default" (click)="showOriginal()">
                <i class="far fa-chart-bar" style="overflow: auto;"></i> Originalwerte</button>
            <div class="btn btn-default groupButton"> Gruppieren
                <label class="switch" for="toggle_1">
                    <!-- <input type="hidden" name="group" value="False"> -->
                    <input id="toggle_1" type="checkbox" (click)="groupYaxisChanged()" name="group" value="diagramOptions.groupYaxis" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <!-- <button class="btn btn-default" (click)="changeHovering('point')">
                <i class="fas fa-circle" style="overflow: auto;"></i>
            </button>
            <button class="btn btn-default" (click)="changeHovering('line')">
                <i class="fab fa-line" style="overflow: auto;"></i>
            </button> -->
            <button class="btn btn-default" (click)="refreshData()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-default" (click)="showAllStations()">Karte</button>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'visibility':display}" id="mapModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title">{{id}}</h5> -->
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="width: 450px; height: 250px" id="geomMapId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'visibility':pick}" id="colorPickerMod">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Style options</h5>
                    <button type="button" class="close" aria-label="Close" (click)="onOk()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <wv-style-modification [option]="editOptions" [visible]="pick"  (updatedOptionsEmit)="newOptions($event)" ></wv-style-modification>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onOk()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>