<div style="height: 900px;">
  <div id="map" style="width: 82%; height: 90%; padding: 5px; position:absolute;">
    <div class="map-wrapper" style="height: 100%;">
    <n52-station-map-selector [mapId]="mapId" [serviceUrl]="providerUrl" [filter]="stationFilter" [zoomControlOptions]="zoomControlOptions"
    [mapOptions]="mapOptions" [fitBounds]="fitBounds" [avoidZoomToSelection]="avoidZoomToSelection" [baseMaps]="baseMaps"
     [layerControlOptions]="layerControlOptions" (onSelected)="onStationSelected($event)"
    [cluster]="cluster" [statusIntervals]="statusIntervals" (onContentLoading)="loadingStations = $event"></n52-station-map-selector>
  </div>

  </div>
  <div style="width: 20%; padding: 5px;">
    <wv-layer-tree [baselayers]="baselayers" [mapId]="mapId"></wv-layer-tree>
  </div>
  <div id="info"></div>
</div>
