
<div style="height: 900px;">
  <!-- <div style="display: flex; flex-direction: row; height: 100%;"> -->
  <div id="map" style="width: 82%; height: 90%; padding: 5px; position:absolute;">
    <n52-ol-map class="map mapHeight" [mapId]="mapId" [zoom]="zoom" [lat]="lat" [lon]="lon" [showZoomControl]="showZoomControl"
      [showAttributionControl]="showAttributionControl">
      <n52-ol-layer *ngFor="let layer of baselayers" [layer]="layer"></n52-ol-layer>
      <n52-ol-station-selector-layer [serviceUrl]="providerUrl" [zoomToResult]="false" (onSelected)="stationSelected($event)">
      </n52-ol-station-selector-layer>
      <n52-ol-overview-map [collapsible]="true" [layers]="overviewMapLayers" position="bottomright"></n52-ol-overview-map>

    </n52-ol-map>
  </div>
  <div style="width: 20%; padding: 5px;">
    <wv-layer-tree [baselayers]="baselayers" [mapId]="mapId"></wv-layer-tree>
  </div>
  <!-- </div> -->

</div>

<!-- <img src="assets/images/Kartenauswahl.png" id="prototypePic">
<button type="button" class="btn btn-default" (click)="changePic()" style="vertical-align: bottom;">weiter</button> -->