
<div class="phenomena">
    <div class="expand-button" [ngClass]="{'active': isActive}" (click)="change()">
      <span class="icon">
        <i class="fas fa-angle-right" [ngClass]="{'fa-angle-right': isActive, 'fa-angle-left': !isActive}"></i>
      </span>
    </div>

    <div class="phenomenonSelector" [ngClass]="{'active': isActive}">
     <wv-extended-service-filter-selector [endpoint]="'phenomenon'" [filterList]="selectedProviderList" (onItemSelected)="onPhenomenonSelected($event)"></wv-extended-service-filter-selector>
    </div>
</div>