
<div class="phenomena">
  <!-- <div *ngIf="isVisible"> -->
    <div class="expand-button" [ngClass]="{'active': isActive}" (click)="change()">
      <span class="icon">
        <i class="fas fa-angle-right" [ngClass]="{'fa-angle-right': isActive, 'fa-angle-left': !isActive}"></i>
      </span>
    </div>

    <div class="phenomenonSelector" [ngClass]="{'active': isActive}">
      <div class="mid entry" (click)="removeFilter()" [ngClass]="{'selected': selectionId === null}">
        <span> Alle Phänomene</span>
      </div>
      <!-- <wv-extended-service-filter-selector [serviceUrl]="apiUrl" endpoint="phenomenon" [selectionId]="selectionId" (onItemSelected)="onPhenomenonSelected($event)"></wv-extended-service-filter-selector> -->
     <wv-extended-service-filter-selector [endpoint]="'phenomenon'" [filterList]="selectedProviderList" (onItemSelected)="onPhenomenonSelected($event)"></wv-extended-service-filter-selector>
    </div>
  <!-- </div> -->
</div>