
body{
    height : 100vh;
    overflow : hidden;
  }
  i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.btn.btn-primary {
    background-color: #2c4869;
    position: absolute;
    right: 0px;
}
.card-header{
    background-color: #2c4869;
    color: #fff;
}
.card-header button{
    background-color: #2c4869;
    color: #fff;
    border-color: #2c4869;
}
.list-group-item {
    border: 0px;
}
.list-group-item :active {
    border: 0px;
    background-color: lightgray;
}
.col-lg-11, .col-md-11 ,.col-sm-8 collapse{
    padding-left: 0px;
    padding-right: 0px;
}
.card-body{
    padding: 0px;
    background-color: rgba(113, 130, 150, 0.5);
}
