<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 ">
                <div class="card-header wv-bold-header">
                    Stoffeintragsmodell: Szenarienvergleich {{param}}
                </div>
                <div class="card-body">
                    Information zum Modell und den Parametern
                </div>
            </div>
        </div>
    </div>

    <div style="border:1px solid rgba(0, 0, 0, 0.125);">
        <div class="row" >

            <div class="col-xl-6 col-md-6 mb-2">
                <div class="border-left-primary h-100 ">
                    <div class="card-body" *ngIf="showBarChart">
                        <div *ngIf= "idInfo==0; else NOneDiagram">
                            <wv-tsbar-chart [service]="featureTSLayerUrl"
                            [selIndices]='[szenarioTS_ID[selSzenario_id_l],szenarioTS_ID[selSzenario_id_r]]'
                            [barChartId]="'compTSInput'" [input]="idInfo" [comparison]="true">
                        </wv-tsbar-chart>
                        </div>
                        <ng-template #NOneDiagram>
                            <wv-tsbar-chart [service]="featureTSLayerUrl"
                            [selIndices]='[selSzenarioTSN_ID[selSzenario_id_l],selSzenarioTSN_ID[selSzenario_id_r]]'
                            [barChartId]="'compTSInput'" [input]="idInfo" [comparison]="true">
                        </wv-tsbar-chart>
                        </ng-template>
                    </div>
                
                </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-2">
                <div class=" h-100">
                    <div class="card-body" *ngIf="showBarChart ">
                        <div *ngIf=" idInfo==0; else NDiagram">
                            <wv-percentage-change-bar-chart [service]="featureTSLayerUrl"
                            [selIndices]='[szenarioTS_ID[selSzenario_id_l],szenarioTS_ID[selSzenario_id_r]]'
                            [barChartId]="'PercCompInput'" [input]="idInfo"></wv-percentage-change-bar-chart>
                        </div>
                        <ng-template #NDiagram>
                            <wv-percentage-change-bar-chart [service]="featureTSLayerUrl"
                                [selIndices]='[selSzenarioTSN_ID[selSzenario_id_l],selSzenarioTSN_ID[selSzenario_id_r]]'
                                [barChartId]="'PercCompInput'" [input]="idInfo"></wv-percentage-change-bar-chart>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="border:1px solid rgba(0, 0, 0, 0.125);">
        <div class="row">
            <div class="col-xl-5 col-md-4 mb-2" style="height: 100%;">
                <div class=" border-left-primary  h-100 ">
                    <div class="card-body">
                        SzenarioWahl 1:
                        <select id="szenario" (change)="onSubmitOne($event.target.value)" >
                                    <option *ngFor="let a of selSzenario; let i = index " id="sz_one" value="{{i}}">{{a}}</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-4 mb-2" style="height: 100%;">
                <div class=" border-left-primary  h-100 ">
                    <div class="card-body">
                        SzenarioWahl 2:  <select id="szenario2" (change)="onSubmitTwo($event.target.value)" >
                            <option *ngFor="let a of selSzenario; let i = index " id="sz_one" value="{{i+1}}"> {{selSzenario[i+1]}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-2 " style="height: 100%;">
                <div class=" card border-left-primary  h-100 ">
                    <div class="card-body">
                        <b>Legende</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 350px;">
            <div class="col-xl-5 col-md-5 mb-2">
                <div id="map" style="height: 100%;">
                    <div class="map-wrapper" id='map-wrapper'>
                        <div id="szOne-CompMap" class="map-viewer"></div>
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-md-5 mb-2">
                <div id="map" style="height: 100%;">
                    <div class="map-wrapper" id='map-wrapper'>
                        <div id="szTwo-CompMap" class="map-viewer"></div>
                    </div>

                </div>
            </div>
            <div class="col-xl-2 col-md-2 mb-2">
                <div class="card border-left-primary h-100 ">
                    <div class="card-body">
                        <div class="wv-legend" style="width: 100%;" *ngIf="showBarChart">
                            <div *ngIf=" idInfo==0; else tsNlayer">
                                <b>TS-Layer [mg/L] </b>
                                <wv-layer-legend-card [layer]="baseLayers[0]" [id]="szenarioTS_ID[selSzenario_id_l]">
                                </wv-layer-legend-card>
                            </div>
                            <ng-template #tsNlayer>
                                <b>TS-Layer  [kg/m³] </b>
                                <wv-layer-legend-card [layer]="baseLayers[0]" [id]="selSzenarioTSN_ID[selSzenario_id_l]">
                                </wv-layer-legend-card>
                            </ng-template>
                        </div>
                     
                        <div class="wv-legend" style="width: 100%;" *ngIf="showBarChart">
                            <div *ngIf=" idInfo==0; else subNlayer">
                                <b> Subbasin-Layer [t/ha/a]</b>
                                <wv-layer-legend-card [layer]="baseLayers[0]" [id]="szenarioSub_ID[selSzenario_id_l]">
                                </wv-layer-legend-card>
                            </div>
                           
                            <ng-template #subNlayer>
                                <b> Subbasin-Layer [kg/ha/a]</b>
                                <wv-layer-legend-card [layer]="baseLayers[0]" [id]="selSzenarioSUBN_ID[selSzenario_id_l]">
                                </wv-layer-legend-card>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>