#d3Graph
{
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    /* padding-bottom: 40%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.dropdown-menu{
    overflow: auto;
    max-height: 250px;
}
#selectionMenu{
    margin-left: 20px
}