<div>
  <!-- <table class="table" id="bwlTable">
    <thead>
      <tr>
        <th *ngFor="let header of headers; let i = index" (click)="sortTable(i)">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of bwlData">
        <td *ngFor="let value of headers">
          <label>{{e[value]}}</label>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="search bwl data pages">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2 </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> -->
  <!-- <img src="assets/images/profil.jpg"> -->

    <div id="selectionMenu" style="width: 500px; height: 250px; position: relative;">
      <table>
        <thead>
          <tr>
            <th>Messstation:</th>
            <th>Parameter:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <div class="btn-group">
                    <button id="station" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{dam_label}}</button>
                    <div class="dropdown-menu" aria-labelledby="station">
                      <button class="dropdown-item" *ngFor="let stat of samplingStationLabels; let i = index" (click)="changeSamplingStation(stat, i)">{{stat}}</button>
                    </div>
                  </div>
            </td>
            <td>
                <div class="btn-group">
                    <button id="parameter" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{selectMeasureParam}}</button>
                    <div class="dropdown-menu" aria-labelledby="parameter">
                      <button class="dropdown-item" *ngFor="let param of measureParams; let i = index" (click)="changeMeasureParam(param)">{{param}}</button>
                    </div>
                  </div>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Isolinien:</th>
            <th>Anzahl Isolinien:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <form id="isoline">
                    <input type="radio" name="iso" value="fixed" checked> fester Abstand
                    <br>
                    <input type="radio" name="iso" value="even"> gleichm. verteilt
                    <br>
                    <input type="radio" name="iso" value="random" disabled> willkürlich
                  </form>
            </td>
            <td>
                <form>
                    <input type="number" id="numIso" disabled>
                  </form>
            </td>
          </tr>
          <tr>
            <td>
                <form id="ice">
                    <input type="checkbox" name="ice" value="cover" unchecked>  <b> Eisbedeckung</b>
                  </form>
            </td>
            <td>Abstand Isolinien:
                <form>
                    <input type="number" id="distIso">
                  </form>
            </td>      
          </tr>
        </tbody>
      </table>
      <!-- Startdatum:
      <br>
      <div class="btn-group">
      <button id="from" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{defaultDate| date: 'mediumDate' }}</button>
      <div class="dropdown-menu" aria-labelledby="from">
        <button class="dropdown-item" *ngFor="let fromDate of selDate; let i = index" (click)="changeFromDate(fromDate)">{{fromDate| date: 'mediumDate' }}</button>
      </div>
    </div> -->
      <button type="button" (click)="createIsoPlot()">Graphik erstellen</button>
    </div>
    <div style="height: 750px; width: 70%;" #d3Graph>
      <div id="myDiv" style="width: 100%; height: 100%"></div>
    </div>
    <!-- <div style="height: 800px;" #d3Graph>
        <figure id="d3Graph" #depthGraph>
    
        </figure>
    
    </div> -->
</div>