<div>
  <table class="table" id="bwlTable">
    <thead>
      <tr>
          <th *ngFor="let header of headers; let i = index" (click)="sortTable(i)">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of bwlData">
        <td *ngFor="let value of headers"><label>{{e[value]}}</label></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="search bwl data pages">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
      <li class="page-item">
        <a class="page-link" href="#">2 </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <!-- <img src="assets/images/profil.jpg"> -->
  <div style="height: 800px;">
<figure id="d3Graph">
  
</figure>
<figure id="profileGraph">
  
</figure>
  </div>
</div>
