<div class="container-fluid">
  <div class="row">
    <div *ngFor="let param of parameters; let i = index">
      <div class="col-3">

        <div *ngIf="param.header=='Kategorie'">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="card-header">
                    <span>{{param.header}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <div class="auto">
              <tbody>
                <tr>
                  <td>
                    <div *ngIf="!param.isDisabled">
                      <!-- <n52-multi-service-filter-selector [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></n52-multi-service-filter-selector> -->
                      <wv-extended-multiservicefilter [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></wv-extended-multiservicefilter>
                    </div>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
      </div>

      <div class="col-3">

        <div *ngIf="param.header=='Station'">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="card-header">
                    <span>{{param.header}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <div class="auto">
              <tbody>
                <tr>
                  <td>
                    <div *ngIf="!param.isDisabled">
                      <!-- <n52-multi-service-filter-selector [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></n52-multi-service-filter-selector> -->
                      <wv-extended-multiservicefilter [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></wv-extended-multiservicefilter>
                    </div>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
      </div>

      <div class="col-3">
        <div *ngIf="param.header=='Phänomen'">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="card-header">
                    <span>{{param.header}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <div class="auto">
              <tbody>
                <tr>
                  <td>
                    <div *ngIf="!param.isDisabled">
                      <!-- <n52-multi-service-filter-selector [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></n52-multi-service-filter-selector> -->
                      <wv-extended-multiservicefilter [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></wv-extended-multiservicefilter>
                    </div>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
      </div>

      <div class="col-3">
        <div *ngIf="param.header=='Sensor'">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="card-header">
                    <span>{{param.header}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <div class="auto">
              <tbody>
                <tr>
                  <td>
                    <div *ngIf="!param.isDisabled">
                      <!-- <n52-multi-service-filter-selector [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></n52-multi-service-filter-selector> -->
                      <wv-extended-multiservicefilter [endpoint]="param.type" [filterList]="param.filterList" (onItemSelected)="itemSelected($event, i)"></wv-extended-multiservicefilter>
                    </div>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>