
:host {
    .container-fluid {
        background-color: lightgray;
    }

    .diagramEntry {
        height: 500px;
        flex: 1;
        padding: 5px;
        
    }
    .legendEntry {
        display: flex;
        flex-direction: row;
        
        .left,
        .right {
            width: 50%;
        }
    }
    .btn-light {
        background-color: pink;
    }
    .row {
        background-color: white;
    }
    .menu{
        position: inherit;
    }

}

// .menu {
//     width: 80%;
//     padding: 15px;
//     padding-right: 40px;
// }

// .menu.active{
//     width: 100%;
//     padding: 15px;
//     padding-right: 40px; 
// }
