.container-fluid {
    background-color: lightgray;
}

.table {
    width: 100%;
    padding: 15px;
    padding-right: 40px;
}

.table.active{
    width: 80%;
    padding: 15px;
    padding-right: 40px; 
}