<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 ">
                <div class="card-header wv-bold-header">
                    Stoffeintragsmodell: Szenariovergleich Stickstoff
                </div>
                <div class="card-body">
                    Information zum Modell und den Parametern
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xl-6 col-md-4 mb-2" style="height: 100%;">
            <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                    SzenarioWahl 1 <select><option>Test</option></select>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-4 mb-2" style="height: 100%;">
            <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                    SzenarioWahl 2 <select><option>Test</option></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 350px;">
        <div class="col-xl-6 col-md-6 mb-2" >
            <div id="map" style="height: 100%;">
                <div class="map-wrapper" id='map-wrapper' >
                  <div id="szOne-nitro-map" class="map-viewer" ></div>
                </div>
    
              </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-2" >
            <div id="map" style="height: 100%;">
                <div class="map-wrapper" id='map-wrapper'>
                  <div id="szTwo-nitro-map" class="map-viewer"></div>
                </div>
    
              </div>
        </div>
    </div>
</div>
