
<div style="padding-top: 5px; padding-left: 15px;">
  <div class="navbar navbar-expand-lg navbar-light" style="padding-left: 0px;">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuToggler">
      <span class="navbar-toggler-icon graphView"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuToggler">
      <ul class="navbar-nav mr-auto">
        <li>
          <wv-extended-timeshift-selector [timespan]="timespan" (onTimespanChange)="timespanChanged($event)"></wv-extended-timeshift-selector>
          <!-- <n52-refresh-button (refreshing)="diagram.reloadData()"></n52-refresh-button> -->
        </li>

        <li>
          <button class="btn btn-default" [ngClass]="{'active': checkSelection('/selection-category')}" routerLink='/selection-category'>
            <i class="fas fa-chart-bar"></i> Zeitreihe hinzufügen
          </button>
          <button class="btn btn-default" (click)="setTimespan('day')" [ngClass]="{'active': checkSelected('day')}"> 1 Tag</button>
          <button class="btn btn-default" (click)="setTimespan('week')" [ngClass]="{'active': checkSelected('week')}">1 Woche</button>
          <button class="btn btn-default" (click)="setTimespan('half')" [ngClass]="{'active': checkSelected('half')}">1/2 Jahr</button>
          <button class="btn btn-default" (click)="setTimespan('today')" [ngClass]="{'active': checkSelected('today')}">Heute</button>
          <wv-wv-extended-export-image-button title="Exported Diagram" [datasetOptions]="datasetOptions" [datasetIds]="datasetIds"
          [timespan]="timespan" showLegend="true" showFirstLastDate="true"></wv-wv-extended-export-image-button>
        </li>
      </ul>
    </div>
  </div>
</div>