<div class="selector-entry" *ngFor="let item of items" (click)="onSelectItem(item)">
    <div class="card" >
        <ul class="list-group list-group-flush">
            <label style="cursor: pointer;">
                <li class="list-group-item">
                    <div class="form-check">

                        <input class="form-check-input" name="group100" type="radio" id="radio100">
                        <n52-label-mapper class="form-check-label" for="radio100" label="{{item.label}}"></n52-label-mapper>

                    </div>
                </li>
            </label>
        </ul>
    </div>
</div>