.btn.btn-default{
    background-color: #2c4869;
    color: white;
    display: inline-block;
}
.btn.btn-default.dropdown-toggle.serviceSelect{
    border-right: solid 1px #dfe4e6;
}
h5{
    color: black;
    text-align: center;
}