<div class="btn btn-group" role="group">
        
    <button class="btn btn-default dropdown-toggle serviceSelect" type="button" data-toggle="modal" data-target="#serviceModal">
        <i class="fas fa-broadcast-tower" style="padding: 3px"></i>Services: {{label}}
    </button>
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceProviderLabel" aria-hidden="true">
        <div class="modal-dialog" role="navigation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceProviderLabel">Datenanbieter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <wv-service-selector (onProviderSelected)="emitProviderUrl($event)"></wv-service-selector>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default active" routerLink='/selection-map' routerLinkActive="active">Karte</a>
    <a class="btn btn-default" routerLink='/select-category' routerLinkActive="active">Kategorie</a>
    <a class="btn btn-default " routerLink='/select-station' routerLinkActive="active">Station</a>
    <a class="btn btn-default " routerLink='/select-phenomenon' routerLinkActive="active">Phänomen</a>
</div>