<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-xl-8 col-md-6 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Fernerkundungsprodukt: Landbedeckungsklassifikation für {{selPE_name[selPE_id]}}
        </div>
        <div class="card-body">
          Synthetisches Bild - berechnet durch Kombination mehrerer Einzelszenen aus der Gesamtheit einer
          Vegetationsperiode (eventuell mit Einbeziehung der Information bezüglich der Fruchtfolge aus den
          Vorjahren. Regelmäßige Auswertung nach meteorologischer Verfügbarkeit der Daten.
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Nächster Generierungsdurchlauf:
        </div>
        <div class="card-body">
          24.04.2020
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 mb-2">
      <div class="card border-left-primary shadow h-100 ">
        <div class="card-header wv-bold-header">
          Aktuell verfügbare Anzahl an Szenen
        </div>
        <div class="card-body">
          <!-- {{}} -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 740px">
    <div class="col-xl-2 col-md-2 mb-2" style="height: 100%;">
      <div class="row" style="height: 72%;">
        <div class="col-xl-12">
          <div class="card border-left-primary shadow h-100 ">
            <div class="card-header wv-bold-header">
              Legende
            </div>
            <div class="card-body h-100" style="padding: 0rem;">
              <div class="wv-legend" style="width: 100%;">
                <wv-layer-legend-card [layer]="baselayers[0]"></wv-layer-legend-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 mb-2">
          <div class="card border-left-primary shadow h-100">

            <div class="card-body h-100">
           
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-6 col-md-5">
      <div class='row' style="height: 55%;">
        <div class="col-xl-6 col-md-6 mb-2">
          <div id="map">
            <div class="map-wrapper" id='map-wrapper'>
              <div id="landcover-map" style="width: 100%; height: 100%; position:relative;"></div>
            </div>

          </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-2">
          <div id="map">
            <div class="map-wrapper" id='map-wrapper'>
              <div id="landcover-sync-map" style="width: 100%; height: 100%; position:relative;"></div>
            </div>

          </div>
        </div>
      </div>
      <div class="row" style="top: 0rem;">
        <div class="col-xl-6 col-md-6 mb-2">
          <div class="card border-left-primary shadow ">
            <div class="card-body" style="padding: 0rem;">
              <div style="width: 100%;">
                <wv-layer-card style="height: 50%;" id="layerLegendCard" [baselayers]="baselayers" [mapId]="mapId"
                  (timeIndex)="setSelectedTime($event)" (curTimeIndex)="setSelectedCurrentTimeLeft($event)"
                  [defTimeIndex]="defTimeL">
                </wv-layer-card>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-2">
          <div class="card border-left-primary shadow ">
            <div class="card-body" style="padding: 0rem;">
              <div style="width: 100%;">
                <wv-layer-card style="height: 20%;" id="layerLegendCard" [baselayers]="syncBaselayers"
                  [mapId]="syncMapId" (timeIndex)="setSelectedSyncTime($event)"
                  (curTimeIndex)="setSelectedCurrentTimeRight($event)" [defTimeIndex]="defTimeR">
                </wv-layer-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 ">
          <div class="card border-left-primary shadow ">
            <div class="card-header wv-bold-header">
              Prozentuale Verteilung der Landbedeckung im Kartenausschnitt
              {{currentSelectedTimeL | date:'longDate':'':'de'}}
            </div>
            <div class="card-body" style="padding: 0px;">
              <div style="width: 100%;" *ngIf="showDiagram; else indDiagram">
                <wv-copernicus-layer-chart [drawChart]='true' [selectedTimeIndex]='selectedTime' [chartId]="chartId"
                  [bounds]='polyBounds' [service]='service' [categoryValues]='categoryVal' [colors]='colors'>
                </wv-copernicus-layer-chart>
              </div>
              <ng-template #indDiagram>
                <div style="width: 100%;">
                  <wv-copernicus-layer-chart [drawChart]='true' [selectedTimeIndex]='selectedTime' [chartId]='chartId'
                    [bounds]='mapBounds' [service]='service' [categoryValues]='categoryVal' [colors]='colors'>
                  </wv-copernicus-layer-chart>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-xl-6 ">
          <div class="card border-left-primary shadow ">
            <div class="card-header wv-bold-header">
              Prozentuale Verteilung der Landbedeckung im Kartenausschnitt
              {{currentSelectedTimeR | date:'longDate':'':'de'}}
            </div>
            <div class="card-body" style="padding: 0px;">
              <div style="width: 100%;" *ngIf="showDiagram; else indSyncDiagram">
                <wv-copernicus-layer-chart [drawChart]='true' [selectedTimeIndex]='selectedSyncTime' [chartId]="syncChartId"
                  [bounds]='polyBounds' [service]='service' [categoryValues]='categoryVal' [colors]='colors'>
                </wv-copernicus-layer-chart>
              </div>
              <ng-template #indSyncDiagram>
                <div style="width: 100%;">
                  <wv-copernicus-layer-chart [drawChart]='true' [selectedTimeIndex]='selectedSyncTime'
                    [chartId]='syncChartId' [bounds]='mapBounds' [service]='service' [categoryValues]='categoryVal'
                    [colors]='colors'>
                  </wv-copernicus-layer-chart>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card border-left-primary shadow ">
        <div class="card-header wv-bold-header">
          Relative prozentuale Veränderung vom {{currentSelectedTimeL | date:'longDate':'':'de'}} auf den
          {{currentSelectedTimeR | date:'longDate':'':'de'}}
          im Planungsgebiet/Kartenausschnitt
        </div>
        <div class="card-body" style="padding: 0px;">
          <div style="width: 100%;" *ngIf="showDiagram; else indBarChart">
            <wv-copernicus-bar-chart-card [selIndices]="[selectedTime,selectedSyncTime]"
              [barChartIds]="['perChange','absChange']" [bounds]='polyBounds' [service]='service'
              [categoryValues]='categoryVal' [colors]='colors'></wv-copernicus-bar-chart-card>
          </div>
          <ng-template #indBarChart>
          <div style="width: 100%;">
            <wv-copernicus-bar-chart-card [selIndices]="[selectedTime,selectedSyncTime]"
              [barChartIds]="['perChange','absChange']" [bounds]='mapBounds' [service]='service'
              [categoryValues]='categoryVal' [colors]='colors'></wv-copernicus-bar-chart-card>
          </div>
        </ng-template>
        </div>
      </div>

    </div>
  </div>

  